@charset "UTF-8";
main {
  display: flex;
  justify-content: center;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --panel-bg-color: bisque;
  --dropdown-content-bg-color: rgb(241 200 138);
  ----hover-bg-color: rgb(241 200 138);
  --text-color: black;
  --cross-img: url(./../assets/cross.gif);
}

:root[theme=dark] {
  --panel-bg-color: #2f3542;
  --hover-bg-color: #57606f;
  --text-color: #ced6e0;
  --dropdown-content-bg-color: #57606f;
  --cross-img: url(./../assets/light-cross.png);
}

html {
  color: var(--text-color);
}

body {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

main {
  max-width: 1440px;
  width: 100%;
  padding: 130px 60px 60px 60px;
  background-color: var(--panel-bg-color);
  gap: 130px;
}
@media screen and (max-width: 1150px) {
  main {
    gap: 20px;
  }
}
@media screen and (max-width: 920px) {
  main {
    padding: 130px 10px 0 10px;
  }
}
@media screen and (max-width: 820px) {
  main {
    flex-direction: column-reverse;
    padding: 79px 1px 0 1px;
  }
}

p {
  font-size: 20px;
  padding-right: 25px;
}

.size {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
@media screen and (max-width: 920px) {
  .size {
    justify-content: center;
  }
}

.size_p {
  line-height: 19px;
}
@media screen and (max-width: 920px) {
  .size_p {
    display: none;
  }
}

/* Стиль Выпадающей Кнопки */
.dropbtn {
  width: 80px;
  margin: 0px 5px;
  color: var(--text-color);
  padding: 2px;
  font-size: 16px;
  background-color: rgba(128, 128, 128, 0.3607843137);
  cursor: pointer;
}

/* контейнер <div> - необходим для размещения выпадающего содержимого */
.size_dropdown {
  position: relative;
  display: inline-block;
}

.randombtn:hover {
  background-color: var(--dropdown-content-bg-color);
}

/* Выпадающей контент (по умолчанию скрыт) */
.dropdown-content {
  margin-top: 25px;
  display: none;
  position: absolute;
  background-color: var(--dropdown-content-bg-color);
  border: 1px solid grey;
  min-width: 100px;
  z-index: 1;
}

/* Ссылки внутри выпадающего списка */
.dropdown-content span {
  color: var(--text-color);
  padding: 5px 10px;
  text-decoration: none;
  display: block;
  cursor: pointer;
}

/* Изменить цвет выпадающих ссылок при наведении */
.dropdown-content span:hover {
  font-weight: 600;
}

/* Показать выпадающее меню при наведении */
.size_dropdown:hover .dropdown-content {
  display: block;
}

/* Изменить цвет фона выпадающего кнопка при отображении выпадающего списка */
.size_dropdown:hover .dropbtn {
  background-color: var(--dropdown-content-bg-color);
}

.game_field {
  display: flex;
  margin: 0 auto;
  max-width: 800px;
  width: 100%;
  justify-content: center;
}
@media screen and (max-width: 820px) {
  .game_field {
    flex-direction: column;
  }
}

@media screen and (max-width: 820px) {
  .game_field-left {
    display: flex;
    justify-content: center;
  }
}

.game_1row, .game_2row {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: flex-end;
}

.game_play-field {
  display: flex;
  flex-wrap: wrap;
  border-top: 1px solid black;
}

.game_top-clue {
  display: flex;
  flex-wrap: wrap;
  background-color: rgba(128, 128, 128, 0.2509803922);
  border-left: 1.5px solid var(--text-color);
  border-bottom: 0px;
}

.game_button-block,
.game_button-block1 {
  display: flex;
  flex-wrap: wrap;
  border: 1px solid var(--text-color);
}

.game_button-block {
  width: 100%;
}

.game_button,
.game_top-button,
.game_left-button {
  display: flex;
  margin: 0;
  width: 25px;
  height: 25px;
  border: 0.1px solid var(--text-color);
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.game_left-clue {
  background-color: rgba(128, 128, 128, 0.2509803922);
  border-right: 1px solid var(--text-color);
  border-top: 1px solid var(--text-color);
}

.game_button--colored {
  background-color: var(--text-color);
}

.game_button--crossed {
  background-image: var(--cross-img);
  background-position: center;
  background-size: contain;
}

.game_button--crossed-clue {
  background-image: var(--cross-img);
  background-position: center;
  background-size: cover;
}

.game_wrapper {
  border: 5px solid var(--text-color);
}
@media screen and (max-width: 820px) {
  .game_wrapper {
    border: 0px solid var(--text-color);
  }
}

.center-s_timer {
  margin: 0 auto;
  text-align: right;
  padding: 47px 0 15px 0;
}
@media screen and (max-width: 820px) {
  .center-s_timer {
    text-align: center;
  }
}

.solveMsg {
  position: absolute;
  margin: 41px 0 0 105px;
  background: linear-gradient(90deg, #e933ff, #ffb400, #ff3333, #334dff, #e933ff);
  background-size: 200% auto;
  background-clip: text;
  font-size: 20px;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textflow 5s linear infinite;
}

@keyframes textflow {
  from {
    background-position: 0% center;
  }
  to {
    background-position: 200% center;
  }
}
.game_field-left {
  margin: 20px;
}

.solutionBtn,
.resetbtn,
.savebtn,
.contbtn {
  display: block;
  margin: 10px;
  font-size: 12px;
}

.solutionBtn:hover,
.resetbtn:hover,
.savebtn:hover,
.contbtn:hover {
  background-color: var(--hover-bg-color);
}

.right-s {
  text-align: center;
}
@media screen and (max-width: 820px) {
  .right-s {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }
}

.theme-btns {
  margin: -100px 5px 52px 119px;
  display: flex;
  flex-direction: column;
}
.theme-btns > button {
  margin-right: 5px;
  padding: 2px;
  cursor: pointer;
}
@media screen and (max-width: 820px) {
  .theme-btns {
    margin: 0;
  }
}

.sound-switcher {
  height: 30px;
  width: 30px;
  background: url("./../assets/sound_on.svg") no-repeat center/cover;
  cursor: pointer;
}

.sound-switcher--active {
  height: 30px;
  width: 30px;
  background: url("./../assets/sound_off.svg") no-repeat center/cover;
  cursor: pointer;
}

.theme-btns_dark {
  background-color: black;
  color: white;
}

.saved-results {
  padding: 2px;
  border: 1px solid grey;
}

.saved-results h2 {
  font-size: 17px;
  border: 0.5px solid grey;
}
@media screen and (max-width: 920px) {
  .saved-results h2 {
    font-size: 17px;
  }
}

.saved-results ol li {
  line-height: 25px;
  border: 0.5px solid grey;
}
@media screen and (max-width: 820px) {
  .saved-results ol li {
    line-height: 19px;
  }
}

.saved-res {
  display: flex;
  justify-content: space-between;
}

.saved-res div {
  text-align: end;
}/*# sourceMappingURL=main.css.map */