* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --panel-bg-color: bisque;
  --dropdown-content-bg-color: rgb(241 200 138);
  ----hover-bg-color: rgb(241 200 138);
  --text-color: rgb(80,32,0);
  --textBtn-color: #FFFFFF;
  --cross-img: url(./../assets/cross.gif);
}

:root[theme="dark"] {
  --panel-bg-color: #2f3542;
  --hover-bg-color: #57606f;
  --text-color: #ced6e0;
  --dropdown-content-bg-color: #57606f;
  --cross-img: url(./../assets/light-cross.png);
}

html {
  // color: var(--text-color);
}

body {
  position: relative;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  align-items: center;
  justify-content: space-between;
  min-height: 100dvh;
  background-color: var(--panel-bg-color);
  padding-top: 10px;
  .greetings {
    @extend %rainbow-font;
  }
}

main {
  max-width: 1440px;
  width: 100%;
  justify-content: space-between;
  gap: 10px;

  @extend %flex-center;
  @include media1 {
    gap: 20px;
  }
  @include media2 {
    padding: 130px 10px 0 10px;
  }
  @include media3 {
    flex-direction: column-reverse;
    padding: 9px 1px 0 1px;
  }
}

p {
  font-size: 20px;
  padding-right: 25px;
}
