.center-s {
  min-width: 634px;
  margin: 0 auto;
}

.center-s_timer {
  margin: 0 auto;
  text-align: right;
  padding: 47px 0 15px 0;
  @include media3 {
    text-align: center;
  }
}

.solve-modal {
  position: absolute;
  margin: auto;
  display: flex;
  align-items: center;
  text-align: center;
    border: 8px solid brown;
    border-radius: 65px;

  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 40%;
  height: 250px;
z-index: 3;
  background-color: #fbfe83;
  & p {
    font-family: "Snell Roundhand", cursive;
    font-size: 45px;
    text-align: center;
    background: linear-gradient(
    90deg,
    #e933ff,
    #ffb400,
    #ff3333,
    #334dff,
    #e933ff
  );
  background-size: 200% auto;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textflow 5s linear infinite;
  }
}

@keyframes textflow {
  from {
    background-position: 0% center;
  }
  to {
    background-position: 200% center;
  }
}

.application-name {
  margin: 0 auto;
  font-family: "Snell Roundhand", cursive;
  font-family: 900;
  @extend %rainbow-font;
}

.nonogram-sizes {
  @extend %flex-center;
  flex-direction: column;
  row-gap: 25px;
}
