.solutionBtn,
.resetbtn,
.savebtn,
.contbtn {
  display: block;
  margin: 10px;
  font-size: 15px;
}

.solutionBtn:hover,
.resetbtn:hover,
.savebtn:hover,
.contbtn:hover {
  background-color: var(--hover-bg-color);
}

.savebtn:active,
.solutionBtn:active,
.resetbtn:active,
.contbtn:active,
.randombtn:active {
  color: #fbfe83;
  transform: scale(1.1);
}

#saved-tooltip {
  position: absolute;
  display: none;
  background-color: antiquewhite;
  z-index: 10;
  border: 1px solid rgb(165, 42, 42);
  border-radius: 5px;
  background-color: #fbfe83;
  padding: 16px;
  // margin-bottom: -120px;
}

.saved-tooltip {
  transition: opacity 0.3s;
  opacity: 0;
}