
.solutionBtn,
.resetbtn,
.savebtn,
.contbtn {
  display: block;
  margin: 10px;
  font-size: 15px;
}

.solutionBtn:hover,
.resetbtn:hover,
.savebtn:hover,
.contbtn:hover {
  background-color:  var(--hover-bg-color);
}